<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="ui main text container grid">
		    <div class="ten wide column">
			       <a class="myName" href="https://yesimapro.github.io"><h1>Hi, I'm Griffin!</h1></a>
			       <br>
			       <p>
                I am currently a research analyst at <a class="IBISWorld workLink" href="https://www.ibisworld.com/">IBISWorld</a> and at <a class="Willamette Management Associates workLink" href="http://www.willamette.com/">Willamette Management Associates</a>,
				            <a class="UBS workLink" href="https://www.ubs.com/us/en.html">UBS</a>, and <a class="the Oxford Center for Entrepreneurs workLink" href="https://oxfordcenter.com/">the Oxford Center for Entrepreneurs</a>.
            <!-- <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p> -->
            </p>
            <br>
        </div>
    </div>


    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
