<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <!-- JS -->
	  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <!-- Emojis -->
	<!-- Android style -->
	<!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> -->
	<!-- Apple style -->
	<link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>

  <!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="static/img/verified.ico"/>
  <link rel='stylesheet' href='static/css/style.css'>

  </head>

  <body>
    <div class="ui main text container grid">
		    <div class="ten wide column">
			       <a class="myName" href="https://yesimapro.github.io"><h1>Hi, I'm Griffin!</h1></a>
			       <br>
			       <p>
                I am currently a research analyst at <a class="IBISWorld workLink" href="https://www.ibisworld.com/">IBISWorld</a> and have previously worked with <a class="WMA workLink" href="http://www.willamette.com/">Willamette Management Associates</a>,
				            <a class="UBS workLink" href="https://www.ubs.com/us/en.html">UBS</a>, and <a class="OCE workLink" href="https://oxfordcenter.com/">the Oxford Center for Entrepreneurs</a>.
            </p>
            <br>
            <p>
				          <span class='ec ec-round-pushpin'></span> New York, NY
				          <br>
				          <span class='ec ec-coffee '></span><a class="underlined" href="https://twitter.com/"> Let's chat! </a>
			      </p>
			      <br>
            <!-- CHANGE THESE -->
            <a href="http://bit.ly/yasmeen-github"><i class="github icon"></i></a>
			      <a href="http://bit.ly/yasmeen-linkedin"><i class="linkedin icon"></i></a>
            <a href="mailto:yroumie.tech@gmail.com"><i class="mail icon"></i></a>
          </div>
        <div class="six wide column">
			       <img src="static/img/hey_bitmoji.png" style="visibility: visible; max-width: 100%; width:200px;">
		    </div>
            <div class="sixteen wide column">
			           <div class="ui stackable three item menu">
                   <a class="item active" href="index">Work</a>
			             <a class="item" href="projects">Projects</a>
			             <a class="item" href="about">About</a>
			           </div>
		        </div>
        </div>
    </div>


    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
